/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********************************************/
html {
  font-size: 62.5%;
}

body {
  background: url(/img/red-velvet-curtains-background.jpg) center center / 100% 100%;
  color: #1a1a1a;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

h1 {
     font-size: 3.6rem;
     font-weight: 700;
     text-align: center;
     margin: 1.2rem 0 3.6rem 0;
}

h2 {
     font-size: 2.4rem;
     font-weight: 700;
}

h3 {
     font-size: 2em;
     font-weight: 700;
}

p {
  margin: 2rem 0;
}

a {
  color: #1a1a1a;
  text-decoration: none;
  border-bottom: 1px solid #1a1a1a;
  transition: border 0.1s ease-in-out;
}

a:active, a:focus, a:hover {
    border-bottom: 2px solid #a41a1a;
}

.alignright {
  float: right;
  margin: 0 0 0.5em 1em;
}

.alignleft {
  float: right;
  margin: 0 1em 0.5em 0;
}

header {
  background-color: #fff;
  margin-bottom: 1.5rem;
  padding: 2.5rem 8.334%;
}

#site-title a {
  color: #1a1a1a;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  border: none;
  transition: color 0.1s ease-in-out;
}

#site-title:hover a {
  color: #666;
}

.tagline {
  font-size: 1.1rem;
  margin: 0;
}

#main {
  padding: 0 2rem;
  margin: 6rem 0;
}

article {
  background: #fff;
  margin: auto;
  max-width: 700px;
  overflow: auto;
  padding-bottom: 2rem;
}

.content {
  font-size: 1.6rem;
  margin: 3rem 6rem;
}

.featured {
  width: 100%;
}

footer {
  background: #fff;
  font-size: 1.2rem;
  padding: 2rem;
  text-align: center;
}
