<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Greater Cincinnati Fellowship of Chrstian Magicians</title>
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <link rel="icon" href="/img/cropped-fcm-logo-32x32.png" sizes="32x32">
    <link rel="icon" href="/img/cropped-fcm-logo-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="/img/cropped-fcm-logo-180x180.png">
    <meta name="msapplication-TileImage" content="/img/cropped-fcm-logo-270x270.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/solid.min.css">
    <link rel="stylesheet" href="/css/brands.min.css">
  </head>
  <body>
    <header>
      <div id="site-title" class="site-title"><a href="/">Greater Cincinnati Fellowship of Christian Magicians</a></div>
      <p class="tagline">Sharing the love of Jesus through magic and other variety arts</p>
      <label id="menuicon" for="menutoggle">
				<span class="screen-reader-text">open menu</span>
				<i class="fas fa-bars" title="primary menu icon" aria-hidden="true"></i>
			</label>
      <input type="checkbox" id="menutoggle">
      <nav>
        {%- set navPages = collections.all | eleventyNavigation -%}
        {%- macro renderNavListItem(entry) -%}
        <li class="{% if entry.url == page.url %}current{% endif %} {% if entry.children.length %}children{% endif %}">
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        {%- if entry.children.length -%}
          <i class="fas fa-chevron-down childicon" tabindex="-1"></i>
          <ul>
            {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
          </ul>
        {%- endif -%}
        </li>
        {%- endmacro -%}
        <ul>
        {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
        </ul>
        <ul class="social-media-icons">
          <li>
  					<a class="facebook" target="_blank" href="https://www.facebook.com/cincyfcm/">
  						<i class="fab fa-facebook-square" title="facebook"></i>
  						<span class="screen-reader-text">facebook</span>
  					</a>
  				</li>
  				<li>
  					<a class="email" target="_blank" href="mailto:brad@bradbrownmagic.com">
  						<i class="fas fa-envelope" title="email"></i>
  						<span class="screen-reader-text">email</span>
  					</a>
  				</li>
  			</ul>
    </nav>
    </header>
    <section  id="main">
      <article>
        {% if featured.image %}<img class="featured" src="{{ featured.image }}"{% if featured.alt %} alt="{{ featured.alt }}"{% endif %}>{% endif %}
        <div class="content">
          <h1>{{ title }}</h1>
          {{ content | safe }}
        </div>
      <article>
    </section>
    <footer>
      <p>&copy; 2023 Greater Cincinnati Fellowship of Christian Magicians</p>
    </footer>
  </body>
</html>
